:root {
	font-family: BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji;
	font-size: 1rem;
	--user-font-scale: 1rem - 16px;
	--primary-content-color: #75464A;
	--secondary-content-color: #0f5a32;
	--tetriary-content-color: #BEABA7;
	--primary-background-color: #F3EEEA;
	--secondary-background-color: #E8DBD4;
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--primary-background-color);
}

@media (prefers-color-scheme: dark) {
	body {
		background: #111827;
		color: #fff;
	}
}
