:root {
	font-size: 1rem;
	--user-font-scale: 1rem - 16px;
	--primary-content-color: #75464A;
	--secondary-content-color: #0f5a32;
	--tetriary-content-color: #F3EEEA;
	--primary-background-color: #F3EEEA;
	--primary-background-color-transparent: #00000000;
	--secondary-background-color: #000000;
	--tetriary-background-color: #000000;
	--desktop-global-padding: 100px; 
	--primary-font: 'Roboto', sans-serif;
	--secondary-font: 'Source Code Pro', monospace;
}

html {
    overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}

body {
	overflow-y: auto;
	overflow-x: hidden;
	font-family: var(--secondary-font);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--primary-background-color);	
	scroll-snap-type: y mandatory;
}
section {
	scroll-snap-align: start;
}
.divider-line {
	width: 15vw;
	height: 2px;
	background-color: black;
	margin: 50px auto;
	position: relative;
}
.btn-events {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 45px;
    border-radius: 25px;
    font-family: 'Roboto';
    font-size: 18px;
    color: var(--tetriary-content-color);
    background-color: var(--tetriary-background-color);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn-events > span {
    margin-right: 5px;
  }
  .btn-events > img {
    width: 25px; 
    height: 25px;
    margin-right: -5px;
  }

@media (prefers-color-scheme: dark) {
	/* body {
		background: #111827;
		color: #fff;
	} */
}

@media only screen and (max-width: 768px) {
	.divider-line {
		width: 30vw;
	}
}