:root {
	font-family: 'Source Code Pro', monospace;
	font-size: 1rem;
	--user-font-scale: 1rem - 16px;
	--primary-content-color: #75464A;
	--secondary-content-color: #0f5a32;
	--tetriary-content-color: #F3EEEA;
	--primary-background-color: #F3EEEA;
	--primary-background-color-transparent: #f3eeeaac;
	--secondary-background-color: #e2cec4;
	--tetriary-background-color: #aa7d7a;
	--desktop-global-padding: 50px; 
}

body {
	box-sizing: border-box;
	padding: 0;
	padding-top: 100px;
	margin: 0;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--primary-background-color);
}
@media (prefers-color-scheme: dark) {
	/* body {
		background: #111827;
		color: #fff;
	} */
}
