---
import '../styles/global.css';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import CenteredImage from '../components/CenteredImage.astro';
import Footer from '../components/Footer.astro';
---
<BaseHead />
<body>
	<Header />
	<CenteredImage Title="Kapcsolat" Image="'img/contact_intro.jpg'" />
    <section>
		<h1>Ha bármi kérdésed lenne, keress minket bátran:</h1>
		<img src="" alt="">
		<div class="contact-details-wrapper">
			<div>
				<div class="name">Tóth Laura</div>
				<ul>
					<li>tothlaura0714@gmail.com</li>
					<li>+36 30 624 8622</li>
					<li onclick="window.open('https://www.facebook.com/toth.laura1101/')" id="fb-contact">Facebook Messenger</li>
				</ul>
			</div>
			<div>
				<div class="name">Bakos Bence</div>
				<ul>
					<li>bencemail1@gmail.com</li>
					<li>+36 30 266 9370</li>
					<li onclick="window.open('https://www.facebook.com/bence.bakos.984/')" id="fb-contact">Facebook Messenger</li>
				</ul>
			</div>
		</div>
	</section>
	<Footer />
	
</body>
<style>

h1 {
	margin-bottom: 50px;
}
.contact-details-wrapper {
	display: flex;
	flex-direction: row;
	width: 600px;
	justify-content: space-between;
	align-items: baseline;

}
section {
	width: 100%;
	padding: var(--desktop-global-padding);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.name {
	font-family: var(--primary-font);
	font-weight: 600;
	font-size: 1.2rem;
	letter-spacing: 2px;
}
#fb-contact {
	color: #3B5998;
	font-weight: 600;
	cursor: pointer;
}

li {
	margin-top: 5px;
}
</style>
