---
import '../styles/global.css';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Maps from '../components/Maps.astro';
import Footer from '../components/Footer.astro';
import CenteredImage from '../components/CenteredImage.astro';
---
<BaseHead />
<body>
  <Header />
  <CenteredImage Title="Helyszín" Image="'src/img/location_intro.jpg'" />
  <Maps />
  <div>
  Az esküvő a Gyógynövények Völgyében lesz, Zalaszentlászlón. 
  A szertartás utáni vacsora pedig a nagyjából egy kilométerre levő Vadvirág Étteremben, Zalaudvarnokon.
  <button class="btn-events" onclick="window.location.href='/event'">Programok</button>
  <div/> 
  <div>
    Szállást csak limitáltan tudunk biztosítani a Gyógynövénylakban, 
    ezért a Zalaszentlászlón található Faluházban lesznek extra szálláshelyek. 
  </div>

  <div>
    <span>Fontos tudnivalók</span>
    <ul>
      <li>A majorban a dohányzás csak az arra kijelölt helyeken engedélyezett</li>
      <li>Szemetelni TILOS és életveszélyes</li>
      <li>Számos állat található a farmon, a közelükben figyelemmel kell lenni</li>
      <li></li>
    </ul>
  </div>
  </div><Footer /></body>

<style>
.btn-events {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  font-family: 'Roboto';
  font-size: 1.1rem;
  color: var(--tetriary-content-color);
  background-color: var(--tetriary-background-color);
  border: none;
  cursor: pointer;
  background-image: url("../icons/next_icon.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 25px;
  padding-right: 20px;
}
</style>