<section>    
    <div class="footer-wrapper">
        <div class="left-col">
            <div >
                <div class="contact-wrapper">
                    <div>Bence Bakos</div>
                    <div>
                        bencemail1@gmail.com
                    </div>
                </div>
                <div class="contact-wrapper">
                    <div>Laura Tóth</div>
                    <div>
                        tothlaura0714@gmail.com
                    </div>
                </div>
            </div>
            <div class="footer-divider"></div>
            <div class="design-wrapper">
                <div class="site-design">Site design and development: © 2022 Bence Bakos</div>
                <div class="powered">Powered by<img src="icons/vercel_logo.png"> and <img src="icons/astro_logo.png"></div>
            </div>
        </div>
        <div class="icons-wrapper">
            <img src="img/social/icon_fb.svg" onclick="window.open('https://www.facebook.com/bence.bakos.984/')">
            <img src="img/social/icon_insta.svg" onclick="window.open('https://www.instagram.com/benb3d/')">
            <img src="img/social/icon_linkedin.svg" onclick="window.open('https://www.linkedin.com/in/bence-bakos-63a1a2190/')">
            <img src="img/social/icon_github.svg" onclick="window.open('https://github.com/bencebakos3d')">
            <img src="img/social/icon_artstation.svg" onclick="window.open('https://www.artstation.com/bencebakos')">
        </div>
    </div>
</section>

<style>
    section {
        height: 200px;
        width: 100%;
        background-color: var(--secondary-background-color);
        padding: 50px var(--desktop-global-padding);
        box-sizing: border-box;
        color: #6c6c6c;
    }
    .footer-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .left-col {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .created-by {
        font-weight: 600;
        margin-bottom: 10px;
    }
    .contact-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .contact-wrapper:last-child {
        margin-top: 20px;
    }
    .contact-wrapper > div {
        width: 200px;
    }

    .icons-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 14vw;
    }
    .footer-divider {
        height: 70px;
        width: 2px;
        background-color: #6c6c6c;
        margin-left: 200px;
        margin-right: 20px;
    }
    .powered {
        margin-top: 20px;
        display: flex;
    }
    .powered > img {
        width: 60px;
        object-fit: contain;
        margin-left: 10px;
        margin-right: 10px;
    }
.icons-wrapper > img {
    width: 40px;
    border-radius: 20px;
    transition: ease-in-out 0.2s;
    box-shadow: 2px 2px 2px white;
}

.icons-wrapper > img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}
@media only screen and (max-width: 768px) {
    section {
        height: unset;
        padding: 50px 20px;
        box-sizing: border-box;
    }
    .contact-wrapper {
        flex-direction: column;
    }
    .contact-wrapper > div { 
        width: unset;
    }
    .footer-wrapper {
        flex-direction: column;
    }
    .left-col {
        flex-direction: column;
    }
    .site-design {
        width: 220px;
    }
    .design-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-divider {
        height: 2px;
        width: 30vw;
        margin: 50px 0px;
    }
    .icons-wrapper {
        width: 75%;
        margin-top: 50px;
    }
}
</style>
