<section>
    <div>
        <span>Created by</span>
        <div>Bence Bakos</div>
        <div>Laura Toth</div>
    </div>
    <div>2022</div>
</section>

<style>
    section {
        height: 200px;
        width: 100%;
        background-color: var(--secondary-background-color);
        padding: var(--desktop-global-padding);
        box-sizing: border-box;
    }
</style>