<section class="header">
    <div class="links-wrapper">
        <a href="/">Kezdőlap</a>
        <a href="/location">Helyszín</a>
        <a href="/event">Program</a>
        <a href="/contact">Kapcsolat</a>
    </div>
</section>

<style>
.header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 60px;
    background-color: var(--primary-background-color-transparent);
    transition: 0.3s ease-out;
    font-family: var(--primary-font);
}

.header:hover {
    background-color: var(--secondary-background-color);
    transition: 0.3s ease-out;
}
.links-wrapper:hover > a {
    color: white;
    transition: 0.3s ease-out;
}
.links-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.links-wrapper > a {
    font-size: 1.4rem;
    margin: 0px 50px 0px 50px;
    text-decoration: none;
    color: #6c6c6c;
    user-select: none;
}

@media only screen and (max-width: 768px) {
    .links-wrapper > a {
        font-size: 1rem;
        margin: 0px 3vw 0px 3vw;
    }
    .header:hover {
        background-color: var(--primary-background-color-transparent);
        transition: none;
    }
    .links-wrapper:hover > a {
        color: #6c6c6c;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        user-select: none;
    }
}
</style>