<section>
  <div id="map"></div>
  <div id="details">
      Az esküvő a Gyógynövények Völgyében lesz, Zalaszentlászlón. 
      A szertartás utáni vacsora pedig a nagyjából egy kilométerre levő Vadvirág Étteremben, Zalaudvarnokon.
      <button class="btn-events" onclick="window.location.href='/event'"><span>Program</span><img src="/icons/next_icon.png" alt=""></button>
      <div/> 
      <div>
        Szállást csak limitáltan tudunk biztosítani a Gyógynövénylakban, 
        ezért a Zalaszentlászlón található Faluházban lesznek extra szálláshelyek. 
      </div>

      <div class="info">
        <span>Fontos tudnivalók:</span>
        <ul>
          <li>A majorban a dohányzás csak az arra kijelölt helyeken engedélyezett</li>
          <li>Szemetelni TILOS és életveszélyes</li>
          <li>Számos állat található a farmon, a közelükben figyelemmel kell lenni</li>
        </ul>
      </div>
  </div>
</section>
<script is:inline>
  var map;
  function initMap() {
    const myLatLng = {lat: 46.89662175365611, lng: 17.11040849368509};
    map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      mapTypeControl: false,
      streetViewControl: false,
      fullscreenControl: false,
      zoom: 11
    });

    const heartIcon = "icons/heart_icon.png"
    new google.maps.Marker({
      position: myLatLng,
      map,
      title: "Gyógynövények Völgye",
      icon: heartIcon
    });

  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFahCAfft50S6hH8okvTsjAFOtpzt7WlA&callback=initMap" 
  async defer>
</script>

<style>
  #map {
    height: 100%;
  }
  section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  section > div {
    width: 50%;
  }
  #details {
    padding: var(--desktop-global-padding);
    box-sizing: border-box;
    font-size: 1.3rem;
  }
  .btn-events {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  @media only screen and (max-width: 768px) {
    section {
      flex-direction: column-reverse;
      min-height: unset;
      justify-content: flex-end;
      scroll-snap-align: none;
    }
    section > div {
      width: 100%;
    }
    #map {
      width: 100%;
      height: 100vh;
    }
    #details {
      padding: 20px;
      font-size: 1rem;
    }
    
    .info {
      margin-top: 20px;
    }
    .info > span {
      font-weight: 600;
    }
    .info > ul {
      margin-top: 5px;
    }
  }
</style>